.blockMenu li {
    list-style: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 550;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
}
.blockMusic li {
    list-style: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
}


.blockMenu li:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.blockMusic li:hover {
    opacity: 0.9;
    transition: 0.3s;
}

li span {
    font-size: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

.sidebar {
    background: black;
    color: white;
    min-width: 205px;
    height: 650px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 0px 20px 20px;
}

.SidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.favorites {
    display: flex;
    align-items: center;
}

.Nd_DeCpszONzyaLe5Wd1 {
    fill: white;
    background: linear-gradient(135deg,#450af5,#c4efd9);
    width: 22px;
    height: 22px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 10px;
    padding-top: 2px;
    text-align: center;
}



.createPlaylistButton {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding-bottom: 2px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 2px;
}

.createPlaylist {
    display: flex;
    align-items: center;
}

.logoImg {
    width: 140px;
}



.sidebarInfo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    opacity: 0.7;
}

.sidebarInfo span {
    margin-top: 10px;
    cursor: pointer;
}

.sidebarInfo span:hover {
    text-decoration: underline;
}

.homePage {
    display: flex;
    align-items: center;
}

.homePage a {
    color: white;
}

.homePage svg {
    margin-right: 10px;
    font-size: 24px;
}

.search {
    display: flex;
    align-items: center;
}

.search a {
    color: white;
}

.search svg {
    font-size: 24px;
    margin-right: 10px;
}

.mediateka {
    display: flex;
    align-items: center;
}

.mediateka svg {
    fill: white;
    margin-right: 7px;
}

.sidebarContentMobile {
    display: none;
}

@media (max-width: 1000px) {
    .sidebarContentPC {
        display: none;
    }
    .sidebarContentMobile {
        display: block;
        width: 40px;
        height: 350px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sidebarContentMobile ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 220px;
    }
    .sidebar {
        min-width: 80px;
        padding: 0;
        align-items: center;
    }
    .blockMusicMobile ul {
        height: 100px;
        margin-right: 0;
    }
    .createPlaylistButton {
        width: 27px;
        height: 27px;
    }
    .Nd_DeCpszONzyaLe5Wd1 {
        width: 27px;
        height: 27px;
        padding-top: 5px;
    }
}

@media (max-width: 710px) {
    .sidebar {
        display: none;
    }
}