.cards {
    --column-width: 185px;
    --column-count: 6;
    --grid-gap: 24px;
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count),minmax(0,1fr));
    margin-top: 25px;

}

.ContainerTitle a {
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.ContainerTitle a:hover {
    text-decoration: 2px underline;
}

.cardContainer {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer a {
    text-decoration: none;
}

.allMusics {
    color: white;
    font-size: 15px;
    opacity: 0.7;
    margin-right: 18px;
}

.allMusics:hover {
    text-decoration: 1.5px underline;
}