.cards {
    --column-width: 185px;
    --column-count: 6;
    --grid-gap: 24px;
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count),minmax(0,1fr));
    margin-top: 25px;
    overflow: hidden;
    width: 1245px;
}

.ContainerTitle a {
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.ContainerTitle a:hover {
    text-decoration: 2px underline;
}

.cardContainer {
    margin-bottom: 40px;
    margin-top: 20px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer a {
    text-decoration: none;
}

.allMusics {
    color: white;
    font-size: 15px;
    opacity: 0.7;
    margin-right: 18px;
}

.allMusics:hover {
    text-decoration: 1.5px underline;
}

@media (max-width: 670px) {
    .cardContainer {
        max-width: 95%;
        margin: 0 auto;
        padding-top: 30px;
    }
}
@media (max-width: 590px) {
    .cards {
        width: 1050px;
    }
}

@media (max-width: 412px) {
    .ContainerTitle a {
        font-size: 18px;
        font-weight: 700;
    }
    .allMusics {
        font-size: 12px;
    }
}
@media (max-width: 313px) {
    .ContainerTitle a {
        font-size: 16px;
        font-weight: 700;
    }
    .allMusics {
        font-size: 12px;
    }
}