.playlistPage {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(transparent, rgba(0,0,0,1));
    background-color: rgb(32,87,100);
}

.playlistImage {
    width: 232px;
    height: 232px;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    border-radius: 4px;
    margin-right: 20px;
}

.headerBlock {
    height: 286px;
    padding: 40px 0px 24px 32px;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.AllPlaylistInfo {
    color: white;
    display: flex;
    flex-direction: column;
}

.currentPlaylistInfo {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.playlistContent {
    margin: 0 auto;
    padding-bottom: 50px;
}

.playlistBody {
    width: 100%;
}

.headerPlaylistTitle {
    font-size: .75rem;
    font-weight: 600;
}

.playlistTitle {
    font-size: 6rem;
    font-weight: 700;
}

.playlistDescription {
    opacity: 0.7;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
}

.aboutPlaylist {
    font-weight: 600;
    font-size: .875rem;
    margin-top: 10px;
}

.songsList {
    color: white;
    width: 95%;
    margin: 0 auto;
}

.albumInfo {
    width: 180px;
    margin-left: 10px;
}

.songsContent {
    padding-top: 20px;
}

.checkInfo {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.songNameBlock {
    display: flex;
    width: 360px;
    margin-left: 10px;
}

.songNameBlock span {
    margin-right: 25px;
}

.headerSongsList svg {
    fill: white;
    opacity: 0.5;
    margin-right: 10px;
    width: 100px;
}

.headerSongsList span {
    opacity: 0.5;
    font-size: 0.85rem;
}


.headerSongsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px 5px 0px;
}

.mobilePlaylist {
    margin-top: 20px;
    display: none;
}

.mobilePlaylistInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 130px;
}

.mobilePlaylistInfo img {
    width: 80px;
}

.mobilePlaylistInfo span {
    color: white;
}

.playlistContentHeader {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
}

.playlistPlay {
    background-color: var(--background-base,#1ed760);
    width: 58px;
    height: 58px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
}

.playlistPlay:hover {
    transform: scale(1.05);
}

.AddToFavorites svg {
    opacity: 0.6;
}

.AddToFavorites svg:hover {
    opacity: 1;
}

.mobileImage {
    width: 140px;
    margin: 0 auto;
}

.mobileImage img {
    width: 100%;
    border-radius: 5px;
}

.mobilePlaylistTitle {
    font-size: 1.6rem;
    font-weight: 700;
}

.mobilePlaylistDescription {
    font-weight: 600;
    opacity: 0.5;
}

.aboutPlaylistMobile {
    font-weight: 600;
    opacity: 0.7;
}

.blockToGetToken {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;

}

.blockToGetToken span {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.blockToGetToken button {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: 700;
}
.blockToGetToken button:hover {
    transform: scale(1.05);
}

@media (max-width: 1250px) {
    .playlistTitle {
        font-size: 4rem;
    }
    .songNameBlock {
        width: 330px;
    }
    .albumInfo {
        width: 140px;
    }
}

@media (max-width: 1050px) {
    .playlistImage {
        width: 200px;
        height: 200px;
    }
    .songNameBlock {
        width: 310px;
    }
    .playlistTitle {
        font-size: 3rem;
    }
    .aboutSong {
        width: 200px;
    }
    .songAuthor {
        max-width: 200px;
    }
}

@media (max-width: 920px) {
    .headerSongsList {
        display: none;
    }
    .AllPlaylistInfo {
        display: none;
    }
    .mobilePlaylist {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
    .playlistImage {
        display: none;
    }
    .mobilePlaylistInfo {
    }
}



@media (max-width: 440px) {
    .headerBlock {
        padding-left: 0px;
    }
    .mobilePlaylistInfo {
        margin-left: 20px;
    }
}

@media (max-width: 410px) {
    .mobilePlaylistTitle {
        font-size: 1.225rem;
    }

}

@media (max-width: 370px) {
}