.playlistPage {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(transparent, rgba(0,0,0,1));
    background-color: rgb(32,87,100);
}

.headerBlock {
    width: 90%;
    height: 286px;
    padding: 0px 0px 24px 32px;
    position: relative;
    margin-bottom: 40px;
}

.AllPlaylistInfo {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.playlistContent {
    margin: 0 auto;
    padding-bottom: 50px;
}

.playlistBody {
    width: 100%;
}

.headerPlaylistTitle {
    font-size: .75rem;
    font-weight: 600;
}

.playlistTitle {
    font-size: 6rem;
    font-weight: 700;
}

.playlistDescription {
    opacity: 0.7;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
}

.aboutPlaylist {
    font-weight: 600;
    font-size: .875rem;
    margin-top: 10px;
}

.songsList {
    color: white;
    width: 95%;
    margin: 0 auto;
}

.albumInfo {
    width: 190px;
    margin-left: 10px;
}

.songsContent {
    padding-top: 20px;
}

.checkInfo {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.songNameBlock {
    display: flex;
    width: 370px;
    margin-left: 10px;
}

.songNameBlock span {
    margin-right: 25px;
}

.headerSongsList svg {
    fill: white;
    opacity: 0.5;
    margin-right: 10px;

}

.headerSongsList span {
    opacity: 0.5;
    font-size: 0.85rem;
}


.headerSongsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
}

.mobilePlaylist {
    margin-top: 20px;
}

.mobilePlaylistInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 130px;
}

.mobilePlaylistInfo img {
    width: 80px;
}

.mobilePlaylistInfo span {
    color: white;
}

.mobileImage {
    width: 140px;
    margin: 0 auto;
}

.mobileImage img {
    width: 100%;
    border-radius: 5px;
}

.mobilePlaylistTitle {
    font-size: 1.6rem;
    font-weight: 700;
}

.mobilePlaylistDescription {
    font-weight: 600;
    opacity: 0.5;
}

.aboutPlaylistMobile {
    font-weight: 600;
    opacity: 0.7;
}

@media (max-width: 1060px) {
    .songNameBlock {
        width: 380px;
    }
}

@media (max-width: 920px) {
    .headerSongsList {
        display: none;
    }
    .AllPlaylistInfo {
        display: none;
    }
    .headerBlock {
    }
}

@media (max-width: 410px) {
    .mobilePlaylistTitle {
        font-size: 1.225rem;
    }

}