.songCardInfo {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 405px;
    margin-left: 10px;
}

.songCardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
}

.onFocusCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    background: #778899;
}

.songCardBody:hover {
    background: grey;
}

.songNumber {
    font-weight: 600;
    opacity: 0.6;
}

.songImg {
    width: 40px;
    margin-right: 10px;
}

.songInfo {
    display: flex;
    max-width: 370px;
    align-items: center;
}

.songTitle {
    width: 360px;
    font-size: 1rem;
    font-weight: 600;
}

.songAuthor {
    opacity: 0.6;
    width: 300px;
    font-size: 0.875rem;

}

.songCardBody span {
    font-size: 0.875rem;
}

.songAlbumName {
    width: 240px;
    opacity: 0.6;
    font-weight: 600;
}

.songDateUpdate {
    font-weight: 600;
    opacity: 0.6;
    width: 100px;
}

.songTime {
    font-weight: 600;
    opacity: 0.6;
    margin-right: 10px;
}

.startPlaySong svg {
    fill: white;
    width: 17px;
}

.moreMenu {

    display: none;
}

.moreMenu span {
    background: white;
    width: 3px;
    height: 4px;
    margin-bottom: 3px;
    border-radius: 3px;
}

@media (max-width: 1060px) {

}
@media (max-width: 920px) {
    .songAlbumName {
        display: none;
    }
    .songDateUpdate {
        display: none;
    }
    .songTime {
        display: none;
    }
    .moreMenu {
        display: block;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
}

@media (max-width: 470px) {
    .songAuthor {
        width: 290px;
        font-size: 0.875rem;
    }
    .songTitle {
        width: 290px;
        font-size: 0.950rem;

    }
    .songCardInfo {
        width: 360px;
    }
}

@media (max-width: 410px) {
    .songImg {
        display: none;
    }
    .songCardInfo {
        width: 320px;
    }
}
@media (max-width: 360px) {
    .songImg {
        display: none;
    }
    .songCardInfo {
        width: 290px;
    }
    .songInfo {
        width: 260px;
    }
    .songAuthor {
        width: 180px;
        font-size: 0.8rem;
    }
    .songTitle {
        width: 220px;
        font-size: 0.812rem;
    }
}