.songCardInfo {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 405px;
    margin-left: 10px;
    cursor: default;
}

.songCardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-radius: 4px;
    box-sizing: border-box;
}

.onFocusCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    background: #778899;
}

.songCardBody:hover {
    background: grey;
}

.songNumber {
    font-weight: 600;
    opacity: 0.6;
}

.songImg {
    width: 40px;
    margin-right: 10px;
}

.songInfo {
    display: flex;
    max-width: 370px;
    align-items: center;
}

.songTitle {
    width: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 600;
}

.songAuthor {
    opacity: 0.6;
    width: 300px;
    font-size: 0.875rem;
    color: white;
}

.songAuthor:hover {
    text-decoration: underline;
}

.songCardBody span {
    font-size: 0.875rem;
}

.songAlbumName {
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.6;
    font-weight: 600;
    color: white;
}

.songDateUpdate {
    font-weight: 600;
    opacity: 0.6;
    width: 100px;
    color: white;
}

.trackTime {
    color: white;
}

.songTimeBlock {
    font-weight: 600;
    opacity: 0.6;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.startPlaySong svg {
    fill: white;
    min-width: 17px;
}

.moreMenuMobile {

    display: none;
}

.moreMenuMobile span {
    background: white;
    width: 3px;
    height: 4px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.moreMenu {
    display: flex;
    margin-left: 20px;
}

.moreMenu span {
    background: white;
    width: 3px;
    height: 4px;
    margin-right: 3px;
    border-radius: 3px;
}


@media (max-width: 1250px) {
    .songTitle {
        width: 230px;
    }
    .songCardInfo {
        width: 340px;
    }
    .songAlbumName {
        width: 180px;
    }
    .songInfo {
        width: 310px;
    }
}
@media (max-width: 1115px) {
    .songTitle {
        width: 230px;
    }
    .songCardInfo {
        width: 320px;
    }
    .songAlbumName {
        width: 130px;
    }
    .songInfo {
        width: 290px;
    }
}

@media (max-width: 1050px) {
    .songTitle {
        width: 220px;
    }
    .songCardInfo {
        width: 300px;
    }

    .songInfo {
        width: 265px;
    }
}
@media (max-width: 920px) {
    .songAlbumName {
        display: none;
    }
    .songDateUpdate {
        display: none;
    }
    .songTime {
        display: none;
    }
    .songTimeBlock {
        display: none;
    }
    .moreMenuMobile {
        display: block;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    .songInfo {
        width: 290px;
    }
    .songCardInfo {
        width: 320px;
    }
    .songTitle {
        width: 380px;
    }
}

@media (max-width: 470px) {
    .songAuthor {
        width: 260px;
        font-size: 0.875rem;
    }
    .songTitle {
        width: 260px;
        font-size: 0.950rem;

    }
    .songCardInfo {
        width: 320px;
    }
}

@media (max-width: 410px) {
    .songImg {
        display: none;
    }
    .songCardInfo {
        width: 290px;
    }
    .songInfo {
        width: 260px;
    }
}
@media (max-width: 360px) {
    .songImg {
        display: none;
    }
    .songCardInfo {
        width: 250px;
    }
    .songInfo {
        max-width: 225px;
    }
    .songAuthor {
        width: 180px;
        font-size: 0.8rem;
    }
    .songTitle {
        width: 220px;
        font-size: 0.812rem;
    }
}
@media (max-width: 290px) {

    .songCardInfo {
        width: 215px;
    }
    .songInfo {
        max-width: 190px;
    }
    .songTitle {
        width: 150px;
    }
}