.SearchPageBody {
    display: flex;
    justify-content: space-between;
}

.SearchPageContent {
    width: 100%;
}

.SearchBlockContent {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 55px 35px;

}

.SearchBlockContent span {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.genresList {
    margin-top: 20px;
    --column-width: 185px;
    --grid-gap: 24px;
    grid-auto-rows: auto;
    --column-count: 6;
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count),minmax(0,1fr));
}