.searchedArtistPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchedArtistHeaderContent {
    max-height: 340px;
    padding: 25px;
}

.searchedArtistContent {
    width: 100%;
    background: rgb(18, 18, 18);

}

.searchedArtistBody {
    width: 100%;
}

.searchedArtistHeaderContent {
    display: flex;
    align-items: center;
    width: 800px;
}

.infoSearchedArtist {
    display: flex;
    align-items: center;
}

.searchedArtistImage {
    width: 232px;
    height: 232px;
    border-radius: 10px;
    margin-right: 20px;
}

.searchedArtistTitle {
    font-size: 6rem;
    color: white;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 540px;
}

.popularTracksSection {
    width: 95%;
    margin: 0 auto;
}

.popularTracksList {
    margin: 15px 0px 10px 0px;
}

.popularTracksSectionTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.allTracksBtn {
    color: white;
    font-size: .75rem;
    font-weight: 600;
    opacity: 0.6;
    cursor: default;
}

.allTracksBtn:hover {
    opacity: 1;
}

@media (max-width: 850px) {
    .searchedArtistTitle {
        font-size: 5rem;
        width: 400px;
    }
    .searchedArtistHeaderContent {
        width: 600px;
    }
}

@media (max-width: 670px) {
    .searchedArtistHeaderContent {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .searchedArtistImage {
        width: 200px;
        height: 200px;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .searchedArtistTitle {
        font-size: 1.6rem;
        text-align: center;
    }
}
@media (max-width: 555px) {
    .searchedArtistImage {
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .searchedArtistTitle {
        font-size: 1.4rem;
        text-align: center;
        width: 50%;
    }
    .popularTracksSectionTitle {
        font-size: 1.3rem;
    }
    .searchedArtistHeaderContent {
        padding: 25px 0px;
        width: 100%;
    }
}