.SearchPageBody {
    display: flex;
    justify-content: space-between;
    background: rgb(18, 18, 18);
}

.SearchPageContent {
    width: 100%;
}

.SearchBlockContent {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px 35px;

}

.SearchBlockContent span {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.genresList {
    margin-top: 20px;
    --column-width: 185px;
    --grid-gap: 24px;
    grid-auto-rows: auto;
    --column-count: 6;
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count),minmax(0,1fr));
}

.headerSearchBlock {
    display: none;
}

.searchHeaderSections {
    position: sticky;
    top: 65px;
    z-index: 999;
    background: rgb(18, 18, 18);
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.searchHeaderSections span {
    font-weight: 600;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.875rem;
    cursor: default;
} 

.defaultSearchSection {
    color: white;
    --background-tinted-base: hsla(0,0%,100%,.1);
    background-color: var(--background-tinted-base,rgba(0,0,0,0.6));
}

.searchSection {
    background: white;
}

.bestResultTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.searchResults {
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
}

.searchResultsTracksTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    width: 805px;
}

.searchResultsTracksBlock {
    width: 805px;
}

.searchResultsTracks {
    margin-top: 20px;
}



.bestResultName {
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    margin-left: 15px;
}

.bestResultBlock {
    background: #181818;
    height: 234px;
    width: 390px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.bestResultBlock:hover {
    --background-tinted-base: hsla(0,0%,100%,.1);
    background-color: var(--background-tinted-base,rgba(0,0,0,0.6));
    transition: 0.3s;
}

.bestResultImage {
    width: 92px;
    height: 92px;
    border-radius: 50px;
    margin: 15px;
}

.allSearchSection {
    display: flex;
    justify-content: space-between;
}

.executorTitle {
    color: white;
    letter-spacing: 1.2px;
    background-color: rgba(0,0,0,.2);
    font-weight: 600;
    font-size: 12px;
    padding: 10px 10px;
    width: 130px;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

.searchedSongCard {
    padding: 7px 7px;
    border-radius: 5px;
    cursor: default;
}

.searchedSongCard:hover {
    --background-tinted-base: hsla(0,0%,100%,.1);
    background-color: var(--background-tinted-base,rgba(0,0,0,0.6));
}

.searchedSongCardInfo {
    display: flex;
}

.searchedSongImage {
    width: 40px;
}

.searchedSongInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: white;
    font-weight: 600;
}

.searchedSongAuthor {
    opacity: 0.7;
    font-size: 14px;
}

.allSearchedTracksList {
    width: 95%;
    margin: 0 auto;
}

.allSearchedPlaylistsList {
    --column-width: 185px;
    --column-count: 6;
    --grid-gap: 24px;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
}

.searchModalBody {
    display: none;
}

@media (max-width: 1450px) {
    .genresList {
        --column-width: 180px;
        --column-count: 5;

    }
    .allSearchedPlaylistsList {
        --column-count: 5;
    }
}
@media (max-width: 1250px) {
    .genresList {
        --column-count: 4;
    }
    .allSearchedPlaylistsList {
        --column-count: 4;
    }
}

@media (max-width: 910px) {
    .genresList {
        --column-count: 3;
    }
    .allSearchedPlaylistsList {
        --column-count: 3;
    }
}

@media (max-width: 631px) {
    .genresList {
        --column-count: 2;
        padding-left: 30px;
    }
    .SearchBlockContent span {
        padding-left: 30px;
    }
    .allSearchedPlaylistsList {
        --column-count: 2;
        width: 450px;
        margin: 0 auto;
    }
}
@media (max-width: 590px) {
    .allSearchedPlaylistsList {
        width: 350px;
    }
}
@media (max-width: 540px) {
    .genresList {
        padding-left: 20px;
    }
    .SearchBlockContent span {
        padding-left: 20px;
    }
}
@media (max-width: 500px) {
    .genresList {
        padding-left: 10px;
    }
    .SearchBlockContent span {
        padding-left: 10px;
    }
    .searchResults {
        display: none;
    }
    .searchHeaderSections {
        display: none;
    }
    .headerSearchBlock {
        display: block;
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 15px;
        width: 90%;
        margin: 0 auto;
    }
    .SearchMusicInput {
        padding: 12px 10px 12px 48px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        width: 100%;
    }
    .searchModalBody {
        display: block;
        background-color: #181818;
        width: 100%;
    }
    .searchBlockInput {
        display: flex;
        align-items: center;
        width: 87%;
        margin-left: 10px;
        position: relative;
    }
    
    .searchModalHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: #181818;
        z-index: 5;
    }
    .closeSearchModal {
        fill: white;
        font-size: 25px;
    }
    .withoutInputValue {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .withoutInputValueTitle {
        font-size: 17px;
        font-weight: 700;
    }
    .withoutInputValueInfo {
        font-weight: 600;
        font-size: 12px;
    }
    .withoutInputValue span {
        color: white;
        margin-top: 10px;
    }
    .searchHeaderSectionsModal {
        position: sticky;
        top: 65px;
        z-index: 999;
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-top: 15px;
    }
    .searchModalContent {
        width: 90%;
        margin: 0 auto;
    }
    .searchHeaderSectionsModal span {
        padding: 6px 15px;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 10px;
    }
    .searchSectioModal {
        color: black;
        --background-base: #1ed760;
        background-color: var(--background-base,#ffffff);
    }
    .defaultSearchSectionModal {
        color: white;
        --background-tinted-base: hsla(0,0%,100%,.07);
        background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
    }
    .searchedAuthor {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .searchedAuthorInfo {
        margin-left: 15px;
    }
    .searchedAuthorTitle {
        color: white;
        font-size: 18px;
    }
    .searchedAuthorMarker {
        color: white;
        opacity: 0.6;
        font-size: 14px;
    }
    .searchedAuthorImage {
        width: 56px;
        height: 56px;
    }
    .searchedPlaylistsList {
        display: flex;
        margin: 10px 0px;
    }
    .searchedTrackInfo span {
        color: white;
    }
    .searchedTrackBody {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .searchedTrackInfo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .searchedTrackTitle {
        font-weight: 600;
        font-size: 17px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 70vw;
    }
    .searchedTrackAbout {
        opacity: 0.6;
        font-size: 12px;
    }
    .searchedTrackBody img {
        width: 56px;
        border-radius: 5px;
    }
    .searchedPlaylistBody{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .searchedPlaylistInfo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .searchedPlaylistTitle {
        font-weight: 600;
        font-size: 17px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 70vw;
    }
    .searchedPlaylistAbout {
        opacity: 0.6;
        font-size: 12px;
    }
    .searchedPlaylistBody img {
        width: 56px;
        border-radius: 5px;
    }
    .searchedPlaylistInfo span {
        color: white;
    }
    .searchedPlaylistAbout {
        opacity: 0.6;
        font-size: 12px;
    }
    .searchedArtistsBody {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .searchedArtistsBody img {
        width: 56px;
        border-radius: 5px;
    }
    .searchedArtistsInfo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .searchedArtistsInfo span {
        color: white;
    }
    .searchedArtistsTitle {
        font-weight: 600;
        font-size: 17px;
        width: 70vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .searchedArtistsAbout {
        opacity: 0.6;
        font-size: 12px;
    }
    .searchedAlbumBody {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .searchedAlbumBody img {
        width: 56px;
        border-radius: 5px;
    }
    .searchedAlbumInfo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .searchedAlbumInfo span {
        color: white;
    }
    .searchedAlbumTitle {
        font-weight: 600;
        font-size: 17px;
        width: 70vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .searchedAlbumAbout {
        font-size: 14px;
        opacity: 0.6;
    }
}
@media (max-width: 460px) {
    .genresList {
        --column-count: 2;
        padding-left: 0px;
    }
    .SearchBlockContent span {
        padding-left: 0px;
    }
}
@media (max-width: 435px) {
    .genresList {
        --column-count: 2;
    }
}
@media (max-width: 413px) {
    .genresList {
        --column-count: 2;
    }
    
    
}

@media (max-width: 340px) {
    .genresList {
        --column-count: 1;
    }
}