.searchedArtistPage {
    display: flex;
    justify-content: space-between;
    background: rgb(18, 18, 18);
}

.searchedArtistHeaderContent {
    max-height: 340px;
    padding: 25px;
}

.searchedArtistBody {
    width: 100%;
}

.searchedArtistHeaderContent {
    display: flex;
    align-items: center;
    width: 800px;
}

.infoSearchedArtist {
    display: flex;
    align-items: center;
}

.searchedArtistImage {
    width: 232px;
    height: 232px;
    border-radius: 10px;
    margin-right: 20px;
}

.searchedArtisTitle {
    font-size: 6rem;
    color: white;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90vw;
}

.popularTracksSection {
    width: 95%;
    margin: 0 auto;
}

.popularTracksList {
    margin: 15px 0px 10px 0px;
}

.popularTracksSectionTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.allTracksBtn {
    color: white;
    font-size: .75rem;
    font-weight: 600;
    opacity: 0.6;
    cursor: default;
}

.allTracksBtn:hover {
    opacity: 1;
}