.favouritesPage {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.favouritesBody {
    width: 100%;
    background: rgb(18, 18, 18);
    padding-bottom: 30px;

}

.favouriteHeaderContent {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 20px;
    position: sticky;
    top: 0;
    background: rgb(18, 18, 18);
    z-index: 2;
    padding-right: 20px;
}

.profileModalFavorite {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #282828;
    border-radius: 5px;
}

.profileModalFavorite a {
    color: white;
}

.profileModalFavorite li:hover {
    background: grey;
}

.profileModalFavorite li {
    list-style: none;
    width: 150px;
    margin: 4px;
    padding: 10px 3px;
    font-size: 0.93rem;
    font-weight: 600;
    cursor: default;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 2px;
    color: white;
}

.arrowBack {
    background: black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.allSections {
}

.section {
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
}


.currentSection {
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 16px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
}

.favouritesContent {
    padding-top: 20px;
}

.blockPlaylists {
    margin-left: 30px;
}

.blockPlaylitsTitle {
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
}

.blockPlaylistsCards {
    width: 394px;
    height: 263px;
    background: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
}

.favouritesTracks {
    display: flex;
    flex-direction: column;
}

.favouritesTracks span {
    color: white;
    font-weight: 700;
}

.favouritesTracksInfo span {
    font-size: 14px;
}

.favouritesTrackTitle {
    opacity: 0.7;
    margin-left: 7px;
}

.favouritesTitle {
    margin: 45px 0px 20px 20px;
    font-size: 2rem;

}
.countOfFavouritesTracks {
    margin: 0px 20px;
}

.favouritesTracksBlock {
    width: 354px;
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.favoriteArtists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    margin-top: 20px;
}

.followFavoriteArtists {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.followArtistsTitle {
    color: white;
    font-weight: 600;
}

.favoriteArtists svg {
    fill: white;
}

.searchFavoriteArtists {
    padding: 15px 32px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background: white;
}

.searchFavoriteArtists:hover {
    transform: scale(1.03);
    font-weight: 700;
}
.favoritePodcasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    margin-top: 20px;
}

.followFavoritePodcasts {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.followPodcastsTitle {
    color: white;
    font-weight: 600;
}

.favoritePodcasts svg {
    fill: white;
}

.searchFavoritePodcasts {
    padding: 15px 32px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background: white;
}

.searchFavoritePodcasts:hover {
    transform: scale(1.03);
    font-weight: 700;
}