.favouritesPage {
    display: flex;
    justify-content: space-between;
}

.favouritesBody {
    width: 100%;
    background: rgb(18, 18, 18);
    padding-bottom: 30px;

}

.favouriteHeaderContent {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 20px;
    position: sticky;
    top: 0;
    background: rgb(18, 18, 18);
    z-index: 2;
    padding-right: 20px;
}

.profileModalFavorite {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #282828;
    border-radius: 5px;
}

.profileModalFavorite a {
    color: white;
}

.profileModalFavorite li:hover {
    background: grey;
}

.profileModalFavorite li {
    list-style: none;
    width: 150px;
    margin: 4px;
    padding: 10px 3px;
    font-size: 0.93rem;
    font-weight: 600;
    cursor: default;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 2px;
    color: white;
}

.arrowBack {
    background: black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.allSections {
}

.section {
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
}


.currentSection {
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 16px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
}

.favouritesContent {
    padding-top: 20px;
}

.blockPlaylists {
    margin-left: 30px;
    padding-bottom: 60px;
    padding-top: 10px;
}

.blockPlaylitsTitle {
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
}

.blockPlaylistsCards {
    width: 404px;
    height: 263px;
    background: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
}

.favouritesContentMobile {
    display: none;
}

.favouritesTracks {
    display: flex;
    flex-direction: column;
}

.favouritesTracks span {
    color: white;
    font-weight: 700;
}

.favouritesTracksInfo span {
    font-size: 14px;
}

.favouritesTrackTitle {
    opacity: 0.7;
    margin-left: 7px;
}

.favouritesTitle {
    margin: 45px 0px 20px 20px;
    font-size: 2rem;

}
.countOfFavouritesTracks {
    margin: 0px 20px;
}

.favouritesTracksBlock {
    width: 354px;
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.favoriteArtists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    margin-top: 20px;
}

.followFavoriteArtists {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.followArtistsTitle {
    color: white;
    font-weight: 600;
}

.favoriteArtists svg {
    fill: white;
}

.searchFavoriteArtists {
    padding: 15px 32px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background: white;
}

.searchFavoriteArtists:hover {
    transform: scale(1.03);
    font-weight: 700;
}
.favoritePodcasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    margin-top: 20px;
}

.followFavoritePodcasts {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.followPodcastsTitle {
    color: white;
    font-weight: 600;
}

.favoritePodcasts svg {
    fill: white;
}

.searchFavoritePodcasts {
    padding: 15px 32px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background: white;
}

.profileHeaderLogo {
    display: none;
}

.searchFavoritePodcasts:hover {
    transform: scale(1.03);
    font-weight: 700;
}

.favoriteHeaderMobileInfo {
    display: none;
}

.favoriteHeaderBlockMobile {
    display: none;
}

.mobileSections {
    display: none;
}

.podcastsSection {
    height: 100%;
}

@media (max-width: 670px) {
    .authProfile {
        display: none;
    }
    .allSections {
        display: none;
    }
    .favoriteHeaderBlockMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .favouriteHeaderContent {
        background-color: #181818;
        padding: 10px 0px;
        flex-direction: column;
        height: 100px;
        margin: 0;
        padding-left: 15px;
        align-items: baseline;
    }
    .favouritesContentMobile {
        display: block;
        height: 85vh;
    }
    .favoritePodcasts {
        height: 240px;
    }
    .followFavoritePodcasts {
        font-size: 1.5rem;
    }
    .favoritePodcasts svg {
        width: 40px;
    }
    .searchFavoriteArtists {
        font-size: 0.8rem;
        padding: 10px 25px;
    }
    .artistsSection {
        height: 70vh;
    }
    .favoriteArtists { 
        height: 250px;
    }
    .favoriteArtists svg {
        width: 40px;
    }
    .followFavoriteArtists {
        font-size: 1.2rem;
    }
    .favoriteHeaderMobileInfo {
        display: block;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .blockPlaylistsCards {
        height: 190px;
    }
    .favouritesTracksBlock {
        height: 110px;
    }
    .favouritesTracksBlock:first-child {
        margin-left: 10px;
    }
    
    .favouritesTitle {
        margin-top: 0px;
        font-size: 1rem;
    }
    .countOfFavouritesTracks {
        font-size: 0.9rem;
    }
    .favoriteHeaderAuthImage {
        width: 50px;
        border-radius: 30px;
    }
    .favoriteHeaderTitle {
        color: white;
        font-weight: 700;
        margin-left: 15px;
        font-size: 1.2rem;
    }
    .mobileSections {
        display: flex;
        color: white;
        font-weight: 600;
        font-size: 0.8125rem;
        width: 90vw;
    }
    .mobileSections div {
        margin-right: 10px;
        padding: 7px 10px;
        border-radius: 20px;

    }
    .favoriteHeaderBlockMobile {
        display: block;
    }
    .favouritesContent {
        display: none;
    }
    .defaultMobileSection {
        --background-tinted-base: hsla(0,0%,100%,.07);
        background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
    }
    .mobileSection {
        --background-base: #1ed760;
        color: black;
        background-color: var(--background-base,#ffffff);
    }
}

@media (max-width: 489px) {
    .favoritePodcasts {
        height: 210px;
    }
    .followFavoritePodcasts {
        font-size: 1.2rem;
    }
    .followPodcastsTitle {
        font-size: .8rem;
    }
    .favoriteArtists svg {
        width: 35px;
    }
    .followFavoriteArtists {
        font-size: 1rem;
    }
    .followArtistsTitle {
        font-size: 0.9rem;
    }
    .favoriteArtists {
        height: 200px;
    }
    .blockPlaylistsCards {
        width: 320px;
    }
}

@media (max-width: 395px)  {
    .blockPlaylists {
       margin-left: 15px;
    }
    .blockPlaylistsCards {
        width: 280px;
        height: 160px;
    }
    .favouritesTracksBlock {
        width: 280px;
        height: 80px;
    }
    .followFavoritePodcasts {
        font-size: 1rem;
    }
    .followPodcastsTitle {
        font-size: .7rem;
    }
    .followFavoriteArtists {
        font-size: .9rem;
    }
    .followArtistsTitle {
        font-size: .750rem;
    }
}

@media (max-width: 330px)  {
    .followFavoritePodcasts {
        font-size: .850rem;
    }
    .followPodcastsTitle {
        font-size: .6rem;
    }
    .followFavoriteArtists {
        font-size: .750rem;
    }
    .followArtistsTitle {
        font-size: .650rem;
    }
}

@media (max-width: 310px)  {
    .blockPlaylists {
       margin-left: 15px;
    }
    .blockPlaylistsCards {
        width: 230px;
        height: 160px;
    }
    .favouritesTracksBlock {
        width: 230px;
        height: 80px;
    }
}