.mobileFooter {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mobileFooter a {
    margin-top: 7px;
}

.toHomeBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}
.toSearchBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}
.toMediatekaBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}

.toSearchBtn span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.toMediatekaBtn div {
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.toHomeBtn span {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.toSearchBtn svg {
    fill: white;
    font-size: 25px;
}
.toMediatekaBtn svg {
    fill: white;
    font-size: 25px;
}
.toHomeBtn svg {
    fill: white;
    font-size: 25px;
}

@media (max-width: 670px) {
    .mobileFooter {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        background: black;
        height: 65px;
        box-sizing: border-box;
    }
}