.header {
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.info {
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 270px;
    cursor: default;
}

.info span {
    opacity: 0.7;
    letter-spacing: 2px;
}

.info span:hover {
    opacity: 1;
    transform: scale(1.1);
}

.searchMusic {
    padding: 12px 10px 12px 48px;
    border-radius: 30px;
    width: 100%;
    border: none;
    font-weight: 600;
}

.searchBlock {
    position: relative;
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navigation {
    max-width: 100px;
    display: flex;
}

.navigation svg {
    fill: white;
    font-size: 40px;
    background-color: black;
    cursor: pointer;
}

.blockInfoAuth {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.infoForMobile {
    display: none;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 310px;
}

.auth span {
    color: white;
    opacity: 0.6;
    font-size: 17px;
    cursor: default;
    transition: 0.1s;
    margin-right: 15px;
}

.settingsBtn {
    display: none;
}

.auth span:hover {
    opacity: 1;
    transform: scale(1.05);
    font-weight: 600;
    transition: 0.1s;
}

.authBtn {
    background-color: white;
    color: black;
    height: 50px;
    width: 110px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
} 

.authBtn:hover {
    transform: scale(1.05);
}

.line {
    width: 1px;
    height: 27px;
    background-color: white;
}

.selectValue a {
    color: black
}

.headerLogoImg {
    display: none;
}

.headerSearch {
    display: none;
}

.toAppBtn {
    display: none;
    padding: 15px 24px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.blockInfoAuthWithToken {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authProfile {
    height: 32px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #535353;
    cursor: pointer;
    padding: 0px 3px;
}

.eAXFT6yvz37fvS1lmt6k {
    margin-right: 3px;
}

.authProfile:hover {
    background: #535353;
}

.blockWithoutProfileImage {
    background: #535353;
    border-radius: 20px;
    padding: 4px 6px;
}

.changeRate {
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid var(--essential-subdued,#878787);
    padding: 6px 13px 7px 13px;
    border-radius: 30px;
    cursor: default;
}

.changeRate:hover {
    transform: scale(1.05);
    border: 1px solid white;
    background: black;
}

.profileName {
    font-weight: 700;
    font-size: 16px;
}

.arrowToBack {
    display: none;
}

.profileImage {
    width: 30px;
    border-radius: 30px;
}

.headerMenuBtn {
    display: none;
} 

.profileModal {
    background-color: #282828;
    height: 125px;
    max-height: 200px;
    min-width: 175px;
    max-width: 350px;
    position: absolute;
    bottom: -115px;
    right: 20px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profileModal li {
    list-style: none;
    width: 94%;
    margin: 0 auto;
    padding: 10px 3px;
    font-size: 0.93rem;
    font-weight: 600;
    cursor: default;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 4px;
}

.profileModal li:hover {
    background: grey;
}

@media (max-width: 1196px) {
    .auth span {
        display: none;
    }
    .blockInfoAuth {
        width: 440px;
    }

}
@media (max-width: 871px) {
    .infoForMobile {
        display: block;
    }
    .info {
        display: none;
    }
    .header {
        height: 75px;
    }
    .blockInfoAuth {
        width: 300px;
    }
}
@media (max-width: 781px) {
    .line {
        display: none;
    }
    .navigation {
        max-width: 340px;
    }
    .auth {
        margin-left: 10px;
    }
    .blockInfoAuth {
        width: 300px;
    }
    .searchBlock{
        max-width: 260px;
        margin: 0;
    }
    .infoForMobile {
        margin-left: 15px;
    }
}

@media (max-width: 710px) {
    .headerLogoImg {
        display: block;
        width: 130px;
        margin-right: 20px;
    }
    .navArrow {
        display: none;
    }
}

@media (max-width: 670px) {

    .searchMusic {
        max-width: 170px;
    }
    .searchBlock {
        margin-left: 20px;
    }

    .headerSearch {
        display: block;
    }
}

@media (max-width: 590px) {
    .infoForMobile {
        display: none;
    }
    .line {
        display: none;
    }
    .auth {
        display: none;
    }
    .headerMenuBtn {
        display: block;
        fill: white;
        font-size: 25px;
        margin-right: 15px;
    }
    .settingsBtn {
        display: block;
    }
    .buttonMenu {
        display: flex;
        flex-direction: column;
        display: block;
    }
    .blockInfoAuth {
        width: 50px;
    }
    .navigation {
        justify-content: space-between;
    }
    .header {

        opacity: 1;
    }
    .headerSearch {

        display: none;
    }
    .headerLogoImg {
        margin-right: 20px;
    }
    .searchMusic {
        width: 170px;
    }
    .blockInfoAuthWithToken {
        display: none;
    }
}

@media (max-width: 536px) {
    .searchMusic {
        width: 140px;
    }
    .headerLogoImg {
    }
}

@media (max-width: 471px) {
    .blockInfoAuth {
        width: 50px;
    }
    .searchMusic {
        width: 100px;
    }
    .searchBlock {
        margin: 0;
    }
}

@media (max-width: 447px) {
    .navigation {
        width: 180px;
    }
    .headerSearch {
        width: 30px;
    }
    .header {
        padding: 0px 10px;
    }
    .infoForMobile {
        display: none;
    }

}

@media (max-width: 412px) {
    .blockInfoAuth {
        width: 50px;
        letter-spacing: 0.5;
    }
    .searchBlock {
        display: none;
    }
}
