.playerTrackWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;

}

.playerTrackBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0px 20px;

    background: #181818;
    border-top: 1px solid #282828;
}

.currentTrackBlock {
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playingTrackImg {
    width: 56px;
    height: 56px;
}

.currentTrackInfo {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    margin-left: 15px;
}

.currentTrackInfo a:hover {
    text-decoration: underline;
}

.currentTrackTitle {
    font-size: 0.875rem;
    color: white;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.currentTrackAuthor {
    color: #b3b3b3;
    font-size: 0.6875rem;
    margin-top: 5px;
}

.blockAddToFavourites {
    opacity: 0.6;
    margin-left: 25px;
}

.blockAddToFavourites:hover {
    opacity: 1;
}

.controlsBtns {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.prevTrackBtn {
    fill: white;
}

.nextTrackBtn {
    fill: white;
}

.controlBtn {
    font-size: 30px;
}

.playerControls {
    width: 180px;
}

.startTrackBtn {
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 2px;
}

.pauseTrackBtn {
    background: white;
    border-radius: 20px;
}

.mobileControls {
    display: none;
}

@media (max-width: 670px) {
    .playerTrackWrapper {
        bottom: 60px;
        border-radius: 40px;
    }
    .playingTrackImg {
        border-radius: 5px;
        width: 50px;
        height: 50px;
    }
    .playerTrackBody {
        margin: 0 auto;
        border-radius: 40px;
        width: 80%;
        height: 80px;
    }
    .playerControls {
        display: none;
    }
    .mobileControls {
        display: block;
    }
}

@media (max-width: 420px) {
    .playerTrackBody {
        height: 70px;
    }
    .playingTrackImg {
        height: 47px;
        width: 47px;
    }
    .currentTrackTitle {
        font-size: 0.8rem;
    }
    .currentTrackAuthor{
        font-size: .75rem;
    }
    .playerTrackWrapper {
        bottom: 50px;
    }
    .currentTrackInfo {
        width: 110px;
    }
}

@media (max-width: 340px) {
    .currentTrackInfo {
        width: 70px;
    }
}