.showPage {
    display: flex;
    justify-content: space-between;
    background: rgb(18, 18, 18);
}

.showPageContent {
    width: 100%;
}

.showPageHeader {
    display: flex;
    align-items: center;
    height: 340px;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
}

.showPageInfo {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.showPageInfo span {
    color: white;
}

.showPageHeadeImg {
    width: 232px;
    height: 232px;
    border-radius: 10px;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}

.showPageAuthor {
    font-size: 1.5rem;
    font-weight: 700;
}

.showPageTitle {
    font-size: 6rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 900px;
}

.allShowEpisodeContent {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.allShowEpisode {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aboutAuthorTitle {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.aboutAuthorDescription {
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 600;
    max-width: 300px;
    word-wrap: break-word;
}

.followShowBlock {
    margin: 30px 15px;

}

.followShowBlock button {
    border: 1px solid hsla(0,0%,100%,.3);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    padding: 7px 15px;
    color: white;
    letter-spacing: .1em;
    margin-right: 10px;
}

.infoAboutAuthorBtn {
    display: none;
}

.followShowBlock button:hover {
    border: 1px solid white;
}

.allShowEpisodeInfoAuthor {
    max-width: 370px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.allShowEpisodeListTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.randomEpisodeCard {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 764px;
    height: 167px;
    display: flex;
    flex-direction: column;
    --background-tinted-base: hsla(0,0%,100%,.07);
    background-color: var(--background-tinted-base);
    margin: 20px 0px;
}

.randomEpisodeCard span {
    max-width: 400px;
}

.randomEpisodeCard:hover {
    opacity: 0.7;
}

.andomEpisodeCardContinue {
    color: white;
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 600;
}

.randomEpisodeCardTitle {
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin: 12px 0px;
}

.randomEpisodeCardDescription {
    color: white;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 750px;
}

.aboutAuthorModalBody {
    display: none;
}

@media (max-width: 1450px) {
    .randomEpisodeCard {
        max-width: 600px;
    }
    .showPageInfo {
        width: 650px;
    }
}
@media (max-width: 1270px) {
    .randomEpisodeCard {
        width: 500px;
    }
    .showPageTitle {
        font-size: 4rem;
    }
    .showPageInfo {
        width: 500px;
    }
    .aboutAuthorDescription {
        width: 200px;
    }
}
@media (max-width: 890px) {
    .randomEpisodeCard {
        width: 500px;
    }
    .showPageTitle {
        font-size: 3rem;
    }
    .showPageHeadeImg {
        width: 200px;
        height: 200px;
    }
    .showPageInfo {
        height: 180px;
        width: 400px;
    }
    .aboutAuthorDescription {
        width: 200px;
    }
}
@media (max-width: 850px) {
    .randomEpisodeCard {
        width: 400px;
    }
    .aboutAuthorTitle {
        font-size: 1rem;
    }
    .aboutAuthorDescription {
        font-size: 0.8rem;
    }
    .randomEpisodeCardTitle {
        font-size: 0.9rem;
    }
    .randomEpisodeCardDescription {
        font-size: 0.7rem;
    }
    .randomEpisodeCard {
        height: 140px;
    }
    .allShowEpisodeListTitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 740px) {
    .aboutAuthorDescription {
        width: 150px;
    }
    .showPageInfo {
        width: 350px;
    }
    .showPageAuthor {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
@media (max-width: 630px) {
    .infoAboutAuthorBtn {
        display: block;
    }
    .allShowEpisodeInfoAuthor {
        display: none;
    }
    .showPageTitle {
        font-size: 2rem;
    }
    .showPageAuthor {
        font-size: 1.2rem;
    }
    .followShowBlock {
        display: flex;
    }
    .showPageHeadeImg {
        width: 160px;
        height: 160px;
    }
    .showPageInfo {
        width: 240px;
        height: 150px;
    }
    .allShowEpisode {
        width: 100%;
    }
    .randomEpisodeCard {
        width: 100%;
    }
    .aboutAuthorModalBody {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
        position: fixed;
        top: 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aboutAuthorModalContent {
        background: rgb(18, 18, 18);
        width: 220px;
        box-sizing: border-box;
        padding: 15px 15px;

        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
    }
    .closeAboutAuthModal {
        fill: white;
        font-size: 16px;
        position: absolute;
        right: 10px;
    }
    .aboutAuthorModalContent span {
        color: white;
    }
    .aboutAuthorTitle {
        font-size: 14px;
    }
    .aboutAuthorDescription {
        width: 90%;
    }
}

@media (max-width: 475px) {
    .showPageHeader {
        flex-direction: column;
        padding-top: 20px;
        padding-left: 0px;
    } 
    .podcastsTitle {
        display: none;
    }
    .showPageTitle {
        font-size: 1.7rem;
    }
    .showCardTitle {
        font-size: 0.9rem;
    }
    .showPageAuthor {
        font-size: 1rem;
        text-overflow: clip;
    }
    .showPageInfo {
        height: 80px;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 395px) {
    .followShowBlock button {
        font-size: 10px;
    }
    .randomEpisodeCardTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}