.showCard {
    display: flex;
    max-width: 764px;
    height: 140px;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px;
    margin-top: 10px;

}

.showCard:hover {
    --background-tinted-base: hsla(0,0%,100%,.07);
    background-color: var(--background-tinted-base);
}

.showCard:first-child {
    margin-top: 30px;
}

.showCardInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.showCardImage img {
    width: 112px;
    height: 112px;
    border-radius: 10px;
}

.showCardInfo span {
    color: white;
}

.showCardTitle {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
}

.showCardDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 10px;
}

@media (max-width: 1450px) {
    .showCard {
        width: 600px;
        box-sizing: border-box;
    }
    .showCardDescription {
        max-width: 400px;
    }
    .showCardTitle {
        max-width: 400px;
    }
}

@media (max-width: 1270px) {
    .showCard {
        max-width: 500px;
    }
    .showCardDescription {
        max-width: 300px;
    }
    .showCardTitle {
        max-width: 300px;
    }
}

@media (max-width: 850px) {
    .showCard {
        width: 400px;
    }
    .showCardDescription {
        max-width: 200px;
    }
    .showCardTitle {
        max-width: 200px;
    }
    .showCardImage img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 630px) {
    .showCard {
        max-width: 580px;
        width: 100%;
    }
    .showCardTitle {
        max-width: 360px;
    }
    .showCardDescription {
        max-width: 360px;
    }
}
@media (max-width: 580px) {
    .showCardTitle {
        max-width: 290px;
    }
    .showCardDescription {
        max-width: 290px;
    }
}

@media (max-width: 475px) {
    .showCard {
        padding: 8px 12px;
        height: 120px;
    }
    .showCardTitle {
        max-width: 220px;
    }
    .showCardDescription {
        max-width: 220px;
    }
    .showCardInfo {
        margin-top: 5px;
    }
}
@media (max-width: 410px) {
    .showCardTitle {
        max-width: 170px;
    }
    .showCardDescription {
        max-width: 170px;
    }
    .showCardInfo {
        margin-top: 5px;
    }
}